<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinFeatureAlarm"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ExampleFullScreenIntentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AppAlarmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fadlurahmanfdev.whispr.ACTION_PLAY_ALARM" />
                <action android:name="com.fadlurahmanfdev.whispr.ACTION_STOP_ALARM" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.AppAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fadlurahmanfdev.whispr.ACTION_SET_ALARM" />
                <action android:name="com.fadlurahmanfdev.whispr.ACTION_DISMISS_ALARM" />
                <action android:name="com.fadlurahmanfdev.whispr.ACTION_SNOOZE_ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.AppDeviceRebootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>